@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-primary;
    color: $text-primary;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
}

input,
button {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}
